.language-selector {
  margin: 10px 0;
}

.language-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.language-option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  transition: all 0.2s;
  background-color: var(--color-background);
}

.language-option:hover {
  border-color: var(--color-border-hover);
  background-color: #f0f0f0;
  box-shadow: 0 0 6px var(--color-border-hover);
}

.language-option input[type="checkbox"] {
  cursor: pointer;
}

.language-flag {
  font-size: 1.5em;
  width: 24px;
  height: 16px;
}

.checkbox-wrapper-40 {
  --borderColor: var(--color-check);
  --borderWidth: 0.125em;
}

.checkbox-wrapper-40 label {
  max-width: 100%;
  margin: 0 auto;
}

.checkbox-wrapper-40 input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  background: var(--color-background);
  font-size: 1.8em;
  border-radius: 0.125em;
  display: inline-block;
  border: var(--borderWidth) solid var(--borderColor);
  width: 0.8em;
  height: 0.8em;
  position: relative;
}
.checkbox-wrapper-40 input[type="checkbox"]:before,
.checkbox-wrapper-40 input[type="checkbox"]:after {
  content: "";
  position: absolute;
  background: var(--borderColor);
  width: calc(var(--borderWidth) * 3);
  height: var(--borderWidth);
  top: 50%;
  left: 10%;
  transform-origin: left center;
  font-size: 0.8em;
}
.checkbox-wrapper-40 input[type="checkbox"]:before {
  transform: rotate(45deg)
    translate(
      calc(var(--borderWidth) / -2),
      calc(var(--borderWidth) / -2)
    )
    scaleX(0);
  transition: transform 200ms ease-in 200ms;
}
.checkbox-wrapper-40 input[type="checkbox"]:after {
  width: calc(var(--borderWidth) * 5);
  transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2))
    scaleX(0);
  transform-origin: left center;
  transition: transform 200ms ease-in;
}
.checkbox-wrapper-40 input[type="checkbox"]:checked:before {
  transform: rotate(45deg)
    translate(
      calc(var(--borderWidth) / -2),
      calc(var(--borderWidth) / -2)
    )
    scaleX(1);
  transition: transform 200ms ease-in;
}
.checkbox-wrapper-40 input[type="checkbox"]:checked:after {
  width: calc(var(--borderWidth) * 5);
  transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2))
    scaleX(1);
  transition: transform 200ms ease-out 200ms;
}
.checkbox-wrapper-40 input[type="checkbox"]:focus {
  outline: calc(var(--borderWidth) / 1.5) dotted var(--color-focus);
}
