.keyboard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.key-row {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.key {
  font-size: 1rem;
  touch-action: manipulation;
  display: grid;
  place-content: center;
  padding: 1em calc(1em + 0.35rem);
  border-radius: 4px;
  background: var(--color-key-background);
  color: var(--color-key-text);
  user-select: none;
  cursor: pointer;
}
.key:hover {
  background: var(--color-key-background-hover);
}

.key.large-key {
  position: absolute;
  right: -7em;
  transform: translateX(20px);
}

.key.correct {
  background: var(--color-success);
}
.key.misplaced {
  background: var(--color-warning);
}
.key.incorrect {
  background: var(--color-key-incorrect-background);
}

.key.correct:hover {
  background: hsl(150deg 70% 25%);
}
.key.misplaced:hover {
  background: hsl(50deg 100% 22%);
}
.key.incorrect:hover {
  background: var(--color-key-incorrect-background-hover);
}

@media (max-width: 760px) {
  .key-row {
    gap: 4px;
  }
  .key {
    font-size: 1.1rem;
    padding: 0.4em;
  }
  .key:not(.large-key) {
    transform: translateX(-10px);
  }
  .key-row:last-of-type .key:not(.large-key) {
    transform: translateX(-15px);
  }
  .key.large-key {
    right: 0;
  }
}

@media (max-width: 370px) {
  .key-row {
    gap: 4px;
  }
  .key-row:last-of-type {
    transform: translateX(-20px);
  }
  .key-row:last-of-type .key:not(.large-key) {
    transform: translateX(-8px);
  }
  .key {
    font-size: 1rem;
    padding: 0.4em;
  }
  .key.large-key {
    right: 0;
  }
  .key-row:last-of-type .key.large-key {
    transform: translateX(40px);
  }
}
